@function pr($p) {
    @return $p/41.4+rem;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ol,
ul {
    list-style: none;
}

img {
    display: block;
}

input {
    outline: none;
    border: none;
}

body {
    font-size: pr(14);
}

.container {
    display: none;
    position: relative;
    .header {
        z-index: 10;
        position: fixed;
        width: 100%;
        height: pr(45);
        border: pr(1) solid #ccc;
        background-color: #f6f6f6;
        display: flex;
        align-items: center;
        padding: pr(10);
        input {
            flex: 1;
            height: pr(30);
            border: pr(1) solid #999;
            border-radius: pr(5);
            padding-left: pr(30);
            box-shadow: pr(-1) pr(1) pr(1) #ccc;
            background: url("../imgs/glass.png") no-repeat pr(6) pr(6)/pr(18) auto;
            background-color: white;
        }
        a {
            flex-basis: pr(39);
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-left: pr(5);
            img {
                width: pr(20);
            }
            span {
                font-size: pr(15);
                color: #11a2df;
            }
        }
    }
    .main {
        padding: pr(45) pr(5) pr(0) pr(5);
        background-color: #ddd;
        .banner {
            margin: pr(0) pr(-5);
            img {
                width: 100%;
            }
            .swiper-pagination {
                text-align: right;
                margin-bottom: pr(-10);
                .swiper-pagination-bullet {
                    width: pr(6);
                    height: pr(6);
                    border-radius: pr(3);
                }
                .swiper-pagination-bullet-active {
                    width: pr(15);
                    background-color: #fff;
                }
            }
        }
        .nav {
            height: pr(100);
            margin-top: pr(5);
            border-radius: pr(5);
            background-color: #fff;
            display: flex;
            justify-content: space-around;
            padding: pr(9) pr(0);
            a {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                img {
                    width: pr(57);
                    height: pr(57);
                }
                span {
                    font-size: pr(16);
                    color: #666;
                }
            }
        }
        .center {
            margin-top: pr(5);
            background-color: #fff;
            border-radius: pr(10);
            .section1 {
                background: linear-gradient(to right, #fa5a55, #fa9a4e);
                border-top-left-radius: pr(10);
                border-top-right-radius: pr(10);
                .left {
                    background: url("../imgs/item1.png") no-repeat center bottom/100% auto;
                }
                @media screen and (min-width: 500px) {
                    .left {
                        background: url("../imgs/item1.png") no-repeat center bottom / pr(134) auto;
                    }
                }
            }
            .section2 {
                background: linear-gradient(to right, #4b91ed, #53baed);
                margin-top: pr(5);
                .left {
                    background: url("../imgs/item2.png") no-repeat center bottom/100% auto;
                }
                @media screen and (min-width: 500px) {
                    .left {
                        background: url("../imgs/item2.png") no-repeat center bottom / pr(134) auto;
                    }
                }
            }
            .section3 {
                margin-top: pr(5);
                background: linear-gradient(to right, #34c2a8, #6ad359);
                border-bottom-left-radius: pr(10);
                border-bottom-right-radius: pr(10);
                .left {
                    background: url("../imgs/item3.png") no-repeat center bottom/100% auto;
                }
                @media screen and (min-width: 500px) {
                    .left {
                        background: url("../imgs/item3.png") no-repeat center bottom / pr(134) auto;
                    }
                }
            }
            .section {
                height: pr(100);
                display: flex;
                .left {
                    flex: 1;
                    border-right: pr(1) solid #fff;
                    display: flex;
                    justify-content: center;
                    padding-top: pr(21);
                    a {
                        color: #fff;
                    }
                }
                .right {
                    flex: 2;
                    display: flex;
                    flex-wrap: wrap;
                    a {
                        width: 50%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        color: #fff;
                        &:nth-child(1),
                        &:nth-child(2) {
                            border-bottom: pr(1) solid #fff;
                        }
                        &:nth-child(1),
                        &:nth-child(3) {
                            border-right: pr(1) solid #fff;
                        }
                    }
                }
            }
        }
        .subnav {
            padding: pr(9) pr(0);
            margin-top: pr(5);
            height: pr(120);
            background-color: #fff;
            border-radius: pr(10);

            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;

            a {
                width: 16.6666666666%;
                display: flex;
                flex-direction: column;
                align-items: center;

                img {
                    width: pr(25);
                    height: pr(25);
                }
                span {
                    font-size: pr(14);
                    color: #666;
                }
            }
        }
    }
}

.searchpage {
    position: relative;
    .header {
        z-index: 100;
        position: fixed;
        width: 100%;
        height: pr(45);
        background-color: #e6f0f7;
        border-bottom: pr(1) solid #ccc;

        display: flex;
        align-items: center;
        padding: pr(10);
        .back {
            flex-basis: pr(30);
            background: url("../imgs/back.png") pr(0) pr(0)/auto pr(30) no-repeat;
            height: pr(30);
        }
        input {
            flex: 1;
            height: pr(30);
            border: pr(1) solid #999;
            border-radius: pr(5);
            padding-left: pr(30);
            box-shadow: pr(-1) pr(1) pr(1) #ccc;
            background: url("../imgs/glass.png") pr(6) pr(6) /pr(18) auto no-repeat,linear-gradient(to right,#fff,#fff);
            //两种方法都可以,一种放在背景里做线性渐变和直接在代码后面设背景颜色
            //background-color: #fff;
        }
        .search {
            display: flex;
            flex-direction: column;
            align-items: center;
            flex-basis: pr(39);
            margin-left: pr(5);
            color: #666;
        }
    }
}